
.vs/AppContato/config/applicationhost.config
.vs/AppContato/v17/.suo
bin/Debug/net5.0/AppContato.dll
bin/Debug/net5.0/AppContato.pdb
bin/Debug/net5.0/AppContato.Views.dll
bin/Debug/net5.0/AppContato.Views.pdb
obj/AppContato.csproj.nuget.dgspec.json
obj/Debug/net5.0/AppContato.assets.cache
obj/Debug/net5.0/AppContato.csproj.FileListAbsolute.txt
obj/Debug/net5.0/AppContato.dll
obj/Debug/net5.0/AppContato.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/AppContato.genruntimeconfig.cache
obj/Debug/net5.0/AppContato.pdb
obj/Debug/net5.0/AppContato.Views.dll
obj/Debug/net5.0/AppContato.Views.pdb
obj/project.assets.json
obj/project.nuget.cache
